<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289231965690-v31gf0t8m11qvsk7ns3mc55ui191rlja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289231965690-v31gf0t8m11qvsk7ns3mc55ui191rlja</string>
	<key>API_KEY</key>
	<string>AIzaSyAjFAVQHkRjh9Sy36077sbUoB6Yjq6QUC4</string>
	<key>GCM_SENDER_ID</key>
	<string>289231965690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hunstman.covetus</string>
	<key>PROJECT_ID</key>
	<string>huntsman-d1e4d</string>
	<key>STORAGE_BUCKET</key>
	<string>huntsman-d1e4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289231965690:ios:7882d13e57e695b3</string>
	<key>DATABASE_URL</key>
	<string>https://huntsman-d1e4d.firebaseio.com</string>
</dict>
</plist>